.Footer {
  color: rgba(0, 0, 0, 0.64);
  font-weight: bold;
  font-size: 1.2rem;
  position: absolute; 
  width: 100%; 
  // padding: 0.6rem;
  left: 0; 
  background-color: rgba(90, 63, 37, 0.28);
  // background-color: black;
  .FooterCon { 
    display: flex;
    justify-content: space-between;
    align-items: center;

    .socialIco {
      display: flex;

      :hover {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .icons {
        margin-right: 0.5rem;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.64);
        border-radius: 50%;
        font-size: 1.8rem;
      }
    }
  }
}
