.mainContainer{
  height: 66vh;
  margin-top: 11rem;
.formStyle{
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(51, 39, 28)
}
.field{
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(51, 39, 28);

    .input {
      background-color: rgb(0 0 0 / 32%);
      color: whiteSmoke;
      padding: 0.1rem;
      transition: border-color 0.3s ease; /* Efect de tranziție pentru culoarea marginii la hover */
      border-radius: 7px;
      &:hover {
        border-color: #007bff; /* Culoare de bordură la hover */
         transform: scale(1.02); 
      }
    }
}
.button{
  color: whitesmoke;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  margin-top: 1rem;
  margin-left: 54%;
  background-color: rgba(0, 0, 0, 0.64);
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 7px;

  &:hover {
    transform: scale(1.05);
  }
}

}