.mainContainer {
   
    height: 100%;


    .imageContainer {
        width: 19rem;
        height: 19rem;
        margin-left: auto;
           margin-right: 5rem;
         margin-top: 4rem;

        .myImg {
            cursor: pointer;
            transition: 0.4s;
            user-select: none;
            filter: grayscale(4%);
            position: relative;
            width: 18rem;
            height: 18rem;
            margin-top: 1rem;
        }
    }
    

    .aboutMeContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      
        .h2Title {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          bottom: 1rem;
         color:  rgb(0 0 0 / 64%);
         font-size: 2rem;
         margin-top: -4rem;
         
       
        }
      
        .contentStyle {
          color: rgb(51 39 28);
          margin: 1rem 1rem;
          font-size: 1.5rem;
     
        }
      }
      .skillsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 4rem;
        // color: white;
      
        .skillsHeader {
          font-size: 2rem;
          margin-bottom: 1rem;
          color: rgba(0, 0, 0, 0.64);;
        
        }
      
        .skillsGrid {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 0.7rem;
          align-items: center;
          margin-top: 2rem;

          .skillsColumn {
            margin-right: 3rem;
      
            .paragraphs {
              font-size: 1.4rem;
              margin-bottom: 0.5rem;
              color: rgb(51 39 28);
              
            }
          }
          
        }
      }
      
}

@media only screen and (max-width: 768px) {
  .mainContainer {
    .imageContainer {
      width: 8rem;
      height: 8rem;
      margin-right: 2rem;

      .myImg {
        width: 6rem;
        height: 6rem;
      }
    }

    .aboutMeContainer {
      .h2Title {
        font-size: 1.5rem;
      }

      .contentStyle {
        font-size: 1.2rem;
      }
    }

    .skillsContainer {
      .skillsHeader {
        font-size: 1.5rem;
      }

      .skillsGrid {
        grid-template-columns: repeat(2, 1fr);

        .skillsColumn {
          margin-right: 1rem;
        }
      }
    }
  }
}

